<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Your description goes here" />
    <meta name="keywords" content="one, two, three" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HICKS LAWN CARE & LANDSCAPING SERVICES</title>

    <!-- external CSS link -->

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/faq.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="faq-container" aria-label="Frequently Asked Qusetions">
       <nav id="menu">
        <input
          type="checkbox"
          id="responsive-menu"
          onclick="updatemenu()"
        /><label></label>
        <ul>
          <li><a href="http://">Home</a></li>
          <li><a href="http://">About Us</a></li>
          <li><a href="http://">Services</a></li>
          <li><a href="http://">Gallery</a></li>
          <li><a href="http://">Questions & Answers</a></li>
          <li><a href="http://">Make An Appointment</a></li>
        </ul>
      </nav>
      
      <header class="faq__header">
        <h2 class="faq__header-title">
          Questions & <span id="questions_green">Answers</span>
        </h2>
      </header>
      <div class="faq__body">
        <details aria-expanded="true" class="faq__panel">
          <summary class="faq__label">
            Why i should choose your company?
          </summary>
          <div class="faq__panel-body">
            <p class="faq__panel-answer">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est
              tempora et dolore veritatis voluptas quod itaque mollitia
              deleniti. Repellat, tempore rem!
            </p>
          </div>
        </details>
        <details aria-expanded="true" class="faq__panel">
          <summary class="faq__label">
            What kind of service will be included with lawn maintanace?
          </summary>
          <div class="faq__panel-body">
            <p class="faq__panel-answer">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est
              tempora et dolore veritatis voluptas quod itaque mollitia
              deleniti. Repellat, tempore rem!
            </p>
          </div>
        </details>
        <details aria-expanded="true" class="faq__panel">
          <summary class="faq__label">Are you experienced & certified?</summary>
          <div class="faq__panel-body">
            <p class="faq__panel-answer">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est
              tempora et dolore veritatis voluptas quod itaque mollitia
              deleniti. Repellat, tempore rem!
            </p>
          </div>
        </details>
      </div>
      <footer>
        <div id="copyright" align="center">
          &copy; 2023 - 2023 William White
        </div>
        <script>
          (function () {
            let cpr = document.getElementById("copyright");
            cpr.innerHTML =
              "&copy; 2023 - " +
              new Date().getFullYear() +
              " William White - All Rights Reserved.";
          })();
        </script>
      </footer>
     
    </div>

    <script src="js/faq.js"></script>
  </body>
</html>
