<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Professional lawn care and landscaping services by Hicks Lawn Care. Expert services in lawn maintenance, landscaping, and more." />
    <meta name="keywords" content="lawn care, landscaping, lawn maintenance, Hicks Lawn Care, landscaping services" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HICKS LAWN CARE & LANDSCAPING SERVICES</title>

    <!-- Preconnect to improve load times for external resources -->
    <link rel="preconnect" href="https://use.fontawesome.com" crossorigin />
    <link rel="dns-prefetch" href="https://use.fontawesome.com" />

    <!-- External CSS link -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/services.css" />
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" />
    <noscript><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" /></noscript>
</head>
  <body>
    <div id="service_wrapper">
      <nav class="menu">
        <input
          type="checkbox"
          id="responsive-menu"
          onclick="updatemenu()"
        /><label></label>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/faq">Questions & Answers</a></li>
          <li><a href="/appointment">Make An Appointment</a></li>
        </ul>
      </nav>
      <header class="service-header">
        <h1>
          Our <span>Services</span>
        </h1>
      </header>

      <div class="service-content">
        <div class="row">
          <div class="column">
            <div class="service-content-box">
              <div class="service-content-box-img-bg">
                <img
                  src="/images/8665589_leaf_nature_icon.png"
                  alt="leaf"
                  class="service-leaf-image"
                  loading='lazy'
                />
              </div>

              <h3 class="service-content-box-title">Landscaping Designs</h3>
              <p class="service-box-p">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo
                totam dolores enim exercitationem doloribus.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="service-content-box">
              <div class="service-content-box-img-bg">
                <img
                  src="/images/8665589_leaf_nature_icon.png"
                  alt="leaf"
                  class="service-leaf-image"
                  loading='lazy'
                />
              </div>

              <h3 class="service-content-box-title">Tree Planting</h3>
              <p class="service-box-p">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo
                totam dolores enim exercitationem doloribus.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="service-content-box">
              <div class="service-content-box-img-bg">
                <img
                  src="/images/8665589_leaf_nature_icon.png"
                  alt="leaf"
                  class="service-leaf-image"
                  loading='lazy'
                />
              </div>

              <h3 class="service-content-box-title">Rush Removal</h3>
              <p class="service-box-p">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo
                totam dolores enim exercitationem doloribus.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="service-content-box">
              <div class="service-content-box-img-bg">
                <img
                  src="/images/8665589_leaf_nature_icon.png"
                  alt="leaf"
                  class="service-leaf-image"
                  loading='lazy'
                />
              </div>

              <h3 class="service-content-box-title">Garden Care</h3>
              <p class="service-box-p">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo
                totam dolores enim exercitationem doloribus.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="service-content-box">
              <div class="service-content-box-img-bg">
                <img
                  src="/images/8665589_leaf_nature_icon.png"
                  alt="leaf"
                  class="service-leaf-image"
                  loading='lazy'
                />
              </div>

              <h3 class="service-content-box-title">Lawn Maintanance</h3>
              <p class="service-box-p">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo
                totam dolores enim exercitationem doloribus.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="service-content-box">
              <div class="service-content-box-img-bg">
                <img
                  src="/images/8665589_leaf_nature_icon.png"
                  alt="leaf"
                  class="service-leaf-image"
                  loading='lazy'
                />
              </div>

              <h3 class="service-content-box-title">Water Gardening</h3>
              <p class="service-box-p">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo
                totam dolores enim exercitationem doloribus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div id="copyright" align="center">
          &copy; 2023 - 2023 William White
        </div>
        <script>
          (function () {
            let cpr = document.getElementById("copyright");
            cpr.innerHTML =
              "&copy; 2023 - " +
              new Date().getFullYear() +
              " William White - All Rights Reserved.";
          })();
        </script>
      </footer>
    </div>
  </body>
</html>
